<h1>All Advertisements</h1>
<% @advertisements.each do |adv| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to "$#{adv.title}: #{adv.title}", adv%>
            </h4>
        </div>
    </div>
<%end%>
